<!DOCTYPE html>
<html lang="pt-BR" 
	  xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-nav" th:fragment="navbar">
      <div class="container-fluid d-flex ">
       
        
        
        <div class="wrapper-username-photo">
        	<p class="nav-username">Vinicius Rodrigues de Sousa</p>
        	<img th:src="@{/images/user-photo.png}" class="nav-photo" alt="Foto do usuário">
        </div>

      </div>
    </nav>
    <!-- !navbar -->
</body>
</html>