<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- offcanvas sidebar -->
	<div class="offcanvas offcanvas-start sidebar-nav" tabindex="-1" id="sidebar" th:fragment="sidebar">
		<div>
			<div class="menu-logo">
				<img th:src="@{/images/sindicato-sindae-logo.svg}" alt="Logo Sindicato Sindae">
			</div>
			<div class="menu-itens">
				
				<a class="menu-iten-selected" href="/" th:if="${#httpServletRequest.requestURI == '/'}"><i class="bi bi-house"></i>Início</a>
				<a  href="/" th:if="!${#httpServletRequest.requestURI == '/'}"><i class="bi bi-house"></i>Início</a>
				
				<a class="menu-iten-selected" href="/usuarios/listar" th:if="${#httpServletRequest.requestURI == '/usuarios/listar'} or ${#httpServletRequest.requestURI == '/usuarios/adicionar'}"><i class="bi bi-briefcase"></i>Usuários</a>
				<a href="/usuarios/listar" th:if="!${#httpServletRequest.requestURI == '/usuarios/listar'} and !${#httpServletRequest.requestURI == '/usuarios/adicionar'}"><i class="bi bi-briefcase"></i>Usuários</a>
				
				<a class="menu-iten-selected" href="/empresas/listar" th:if="${#httpServletRequest.requestURI == '/empresas/listar'} or ${#httpServletRequest.requestURI == '/empresas/adicionar'}"><i class="bi bi-building"></i>Empresas</a>
				<a href="/empresas/listar" th:if="!${#httpServletRequest.requestURI == '/empresas/listar'} and !${#httpServletRequest.requestURI == '/empresas/adicionar'}"><i class="bi bi-building"></i>Empresas</a>
				
				<a class="menu-iten-selected" href="/socios/listar" th:if="${#httpServletRequest.requestURI == '/socios/listar'} or ${#httpServletRequest.requestURI == '/socios/adicionar'}"><i class="bi bi-people"></i></i>Sócios</a>
				<a href="/socios/listar" th:if="!${#httpServletRequest.requestURI == '/socios/listar'} and !${#httpServletRequest.requestURI == '/socios/adicionar'}"><i class="bi bi-people"></i></i>Sócios</a>
				
				<a class="menu-iten-selected" href="/relatorio" th:if="${#httpServletRequest.requestURI == '/relatorio'} "><i class="bi bi-people"></i></i>Relatório</a>
				<a href="/relatorio" th:if="!${#httpServletRequest.requestURI == '/relatorio'}"><i class="bi bi-file-earmark-text"></i></i>Relatório</a>
				
				
				
				
				
				
				
				<form action="#" th:action="@{/logout}" method="post">
					<div class="logout" >
						<span ><i class="bi bi-box-arrow-left" ></i></span>
						<input type="submit" value="Sair" />
						
					</div>
				</form>
				
			</div>
		</div>
	</div>
	<!-- !offcanvas sidebar -->
</body>
</html>