<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- offcanvas sidebar -->
	<div class="offcanvas offcanvas-start sidebar-nav" tabindex="-1" id="sidebar" th:fragment="sidebar">
		<div>
			<div class="menu-logo">
				<img th:src="@{/images/sindicato-sindae-logo.svg}" alt="Logo Sindicato Sindae">
			</div>
			<div class="menu-itens">
				
				<a class="menu-iten-selected" href="/"><i class="bi bi-house"></i>Início</a>
				<a href="/listusers"><i class="bi bi-briefcase"></i>Administrador</a>
				<a href="/listcompanies"><i class="bi bi-building"></i>Empresas</a>
				<a href="#"><i class="bi bi-people-fill"></i>Sócios</a>
				
				<a class="logout" href="#"><i class="bi bi-box-arrow-left"></i>Sair</a>
				
				
			</div>
		</div>
	</div>
	<!-- !offcanvas sidebar -->
</body>
</html>