<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Listar usuários</title>
</head>
<body>
	<div layout:fragment="conteudo">

		<div th:replace="~{layout/fragments/sidebar :: sidebar}"></div>

		<!-- conteudo principal -->
		<main class="mt-5 p-4 pt-5">
			<div class="container-fluid">
			<div class="global-content">
				<h3 class="session-title">Lista de usuários</h3>
				
				<div class="wrapper-search-button-input">
					<input type="text" name="user" id="user" placeholder="Buscar...">
					<button ><a href="/usuarios/adicionar">Adicionar usuário</a></button>
				</div>
				
				<div class="wrapper-table">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th scope="col">Nome</th>
								<th scope="col">Papel</th>
								<th scope="col">Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr >
								<td >Vinicius Rodrigues de Sousa</td>
								<td >Administrador</td>

								<td>
									<div>
										<i class="bi bi-pencil-square first-icon"></i>
										<i class="bi bi-trash"></i>
									</div>
								</td>								
							</tr>
							
							<tr >
								<td >Caio Freitas Lima</td>
								<td >Sócio</td>

								<td>
									<div>
										<i class="bi bi-pencil-square first-icon"></i>
										<i class="bi bi-trash"></i>
									</div>
								</td>								
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			</div>
		</main>
		<!-- !conteudo principal -->

	</div>

	<!-- Nao usamos
	<th:block layout:fragment="scripts">
		<script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
	</th:block> -->

</body>
</html>