<!DOCTYPE html>
<html lang="pt-BR"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}">
<title>Login</title>
</head>
<body class="login-body">
	<div>
    	<div class="login-image">
    		<img th:src="@{/images/sindicato-sindae-logo.svg}" alt="Logo Sindicato Sindae">
    	</div>
    	<div class="login-content">
    		<h3>Faça login para continuar</h3>
    		<p>Entre com seu nome de usuário e senha</p>
	    	<form>
	    		<label for="user">Usuário</label>
	    		<input type="text" name="user" id="user">
	    		
	    		<label for="pass">Senha</label>
	    		<input type="password" name="pass" id="pass">
	    		
	    		<button>Entrar</button>
	            
	        </form>
        </div>
    </div>
</body>
</html> 