<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Adicionar sócios</title>
</head>
<body>
	<div layout:fragment="conteudo">

		<div th:replace="~{layout/fragments/sidebar :: sidebar}"></div>

		<!-- conteudo principal -->
		<main class="mt-5 p-4 pt-5">
			<div class="container-fluid">
			<div class="global-content">
				<h3 class="session-title">Adicionar sócio</h3>
				
				<div class="add-partner">
					<form th:action="@{/socios/adicionar}" method="post" th:object="${socio}">
			    		
			    		<div class="row">
			    			<div class="col-12">
					    		<label for="name">Nome</label>
					    		<input type="text" name="name" id="name" th:field="*{nome}">
				    		</div>
				    		
				    		
			    		</div>
			    		
			    		<div class="row">
			    			<div class="col-6">
					    		<label for="empresa">Empresa</label>
					    		<select class="form-select" id="empresa" name="empresa" th:errorclass="is-invalid">
									<option th:each="e : ${empresas}" th:value="${e.codigo}" th:text="${e.nome}"
									        ></option>
								</select>
								
				    		</div>
				    		
				    		<div class="col-6">
					    		<label for="position">Cargo</label>
					    		<input type="text" name="position" id="position" th:field="*{cargo}">
				    		</div>
				    		
				    		
			    		</div>
			    		
			    		<div class="wrapper-button">
			    			<button type="submit">Adicionar</button>
			            </div>
			        </form>
				</div>
				
				
				
			</div>
			</div>
		</main>
		<!-- !conteudo principal -->

	</div>

	<!-- Nao usamos
	<th:block layout:fragment="scripts">
		<script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
	</th:block> -->

</body>
</html>